NodeRed/code_ihm.txt
[{"id":"286d2377.42efdc","type":"tab","label":"MQTT Topic ","disabled":false,"info":""},{"id":"e3696c4f.31226","type":"tab","label":"Connexion","disabled":false,"info":""},{"id":"931b9ff6.270a4","type":"tab","label":"Raspberry monitoring","disabled":false,"info":""},{"id":"3d7ce8de.33d248","type":"tab","label":"Data.txt Chart","disabled":false,"info":""},{"id":"eb12c1b1.34197","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff9f0e","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#f3a51f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#ff9f0e","edited":true},"page-titlebar-backgroundColor":{"value":"#ff9f0e","edited":true},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#ffbd5a","edited":true},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ff9f0e","edited":false},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"574ff0ef.3a45b","type":"ui_tab","z":"","name":"Affichage","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"c3f4e254.52f97","type":"ui_group","z":"","name":"Temperature","tab":"574ff0ef.3a45b","order":1,"disp":true,"width":"6","collapse":false},{"id":"dfc5ebc0.7e4738","type":"ui_group","z":"","name":"Luminosite","tab":"574ff0ef.3a45b","order":2,"disp":true,"width":"6","collapse":false},{"id":"18540bab.f70ac4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":13,"disabled":false,"hidden":true},{"id":"b56c644.394c198","type":"ui_group","z":"","name":"Historique","tab":"93ad2c72.db3b5","order":2,"disp":true,"width":"10","collapse":false},{"id":"ea15e226.6fcbe","type":"ui_group","z":"","name":"Mouvement","tab":"574ff0ef.3a45b","order":3,"disp":true,"width":"6","collapse":false},{"id":"e9426e6d.49042","type":"ui_group","z":"","name":"Potentiometre","tab":"574ff0ef.3a45b","order":4,"disp":true,"width":"6","collapse":false},{"id":"93ad2c72.db3b5","type":"ui_tab","z":"","name":"Historique","icon":"dashboard","order":11,"disabled":false,"hidden":true},{"id":"3d027555.5d773a","type":"ui_spacer","name":"spacer","group":"","order":3,"width":10,"height":1},{"id":"fe3caa8c.84ba78","type":"ui_spacer","name":"spacer","group":"","order":4,"width":10,"height":1},{"id":"e5fb620d.06143","type":"ui_group","z":"","name":"Historique - Deux","tab":"93ad2c72.db3b5","order":2,"disp":true,"width":"10","collapse":false},{"id":"f83159bf.c4a518","type":"ui_group","name":"Group 3","tab":"93ad2c72.db3b5","order":3,"disp":true,"width":6},{"id":"7974e02b.f2f4","type":"ui_group","z":"","name":"Connexion","tab":"2056b4f8.c3d35c","order":1,"disp":true,"width":"6","collapse":false},{"id":"2056b4f8.c3d35c","type":"ui_tab","z":"","name":"Page de connexion","icon":"dashboard","order":6,"disabled":false,"hidden":true},{"id":"cc53659d.df24e8","type":"ui_tab","z":"","name":"Main Tab","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"94ea0481.4dd608","type":"ui_group","z":"","name":"Temperature","tab":"3a1f8f7.2638d7","order":2,"disp":true,"width":"6","collapse":false},{"id":"66a47cec.b2aab4","type":"ui_group","z":"","name":"Potentiometre","tab":"3a1f8f7.2638d7","order":5,"disp":true,"width":"6","collapse":false},{"id":"3a1333b2.b1c02c","type":"ui_group","z":"","name":"Luminosite","tab":"3a1f8f7.2638d7","order":3,"disp":true,"width":"6","collapse":false},{"id":"ec480b62.128cc8","type":"ui_group","z":"","name":"Mouvement","tab":"3a1f8f7.2638d7","order":4,"disp":true,"width":"6","collapse":false},{"id":"bb40a0da.7ca59","type":"ui_group","z":"","name":"Access","tab":"3a1f8f7.2638d7","order":1,"disp":true,"width":"6","collapse":false},{"id":"c3f5892a.361ce8","type":"ui_group","z":"","name":"Paramétrage","tab":"3a1f8f7.2638d7","order":6,"disp":true,"width":"6","collapse":false},{"id":"3a1f8f7.2638d7","type":"ui_tab","z":"","name":"Affichage","icon":"dashboard","order":7,"disabled":false,"hidden":true},{"id":"fe181e74.d0f48","type":"ui_group","z":"","name":"Temperature","tab":"ffcaf36d.c67c6","order":2,"disp":true,"width":"6","collapse":false},{"id":"341aa321.a79f0c","type":"ui_group","z":"","name":"Potentiometre","tab":"ffcaf36d.c67c6","order":5,"disp":true,"width":"6","collapse":false},{"id":"9c8b00ad.7726e","type":"ui_group","z":"","name":"Luminosite","tab":"ffcaf36d.c67c6","order":3,"disp":true,"width":"6","collapse":false},{"id":"53deb5c.52fb84c","type":"ui_group","z":"","name":"Mouvement","tab":"ffcaf36d.c67c6","order":4,"disp":true,"width":"6","collapse":false},{"id":"16d6551f.ab0e0b","type":"ui_group","z":"","name":"Access","tab":"ffcaf36d.c67c6","order":1,"disp":true,"width":"6","collapse":false},{"id":"63e1fee0.b0b0a","type":"ui_group","z":"","name":"Paramétrage","tab":"ffcaf36d.c67c6","order":6,"disp":true,"width":6,"collapse":false},{"id":"ffcaf36d.c67c6","type":"ui_tab","z":"","name":"Affichage","icon":"dashboard","order":8,"disabled":false,"hidden":true},{"id":"db115945.8a8d38","type":"ui_group","z":"","name":"Historique","tab":"dea2915b.9956f","order":2,"disp":true,"width":"10","collapse":false},{"id":"4c316f77.0fe12","type":"ui_group","z":"","name":"Historique - Deux","tab":"dea2915b.9956f","order":3,"disp":true,"width":"10","collapse":false},{"id":"b9f9ba5d.f99618","type":"ui_group","z":"","name":"Picker","tab":"dea2915b.9956f","order":4,"disp":true,"width":"6","collapse":false},{"id":"cae0ee7e.85a24","type":"ui_group","z":"","name":"Access","tab":"dea2915b.9956f","order":1,"disp":true,"width":"6","collapse":false},{"id":"dea2915b.9956f","type":"ui_tab","z":"","name":"Historique","icon":"dashboard","order":12,"disabled":false,"hidden":true},{"id":"2e7161b0.a6db8e","type":"ui_group","z":"","name":"Connexion","tab":"c327b0b1.a7a9a","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5e3f455.778bc8","type":"ui_group","z":"","name":"Informations","tab":"c327b0b1.a7a9a","order":2,"disp":true,"width":"6","collapse":false},{"id":"c327b0b1.a7a9a","type":"ui_tab","z":"","name":"Page de connexion","icon":"dashboard","order":9,"disabled":false,"hidden":true},{"id":"fa371185.47d87","type":"mqtt-broker","z":"","name":"Broker WiFi Flo","broker":"192.168.43.31","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"560a117c.4f29c","type":"mqtt-broker","z":"","name":"RaspBerry Mosquitto","broker":"192.168.43.31","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4e6dca7.859aa","type":"ui_group","z":"","name":"Temperature","tab":"f9181afd.7d0778","order":2,"disp":true,"width":"6","collapse":false},{"id":"d072f2c5.6c59b","type":"ui_group","z":"","name":"Potentiometre","tab":"f9181afd.7d0778","order":5,"disp":true,"width":"6","collapse":false},{"id":"d5ca0bc2.e6b5a8","type":"ui_group","z":"","name":"Luminosite","tab":"f9181afd.7d0778","order":3,"disp":true,"width":"6","collapse":false},{"id":"5b1a18bd.eaac88","type":"ui_group","z":"","name":"Mouvement","tab":"f9181afd.7d0778","order":4,"disp":true,"width":"6","collapse":false},{"id":"61ba0bdf.7305a4","type":"ui_group","z":"","name":"Access","tab":"f9181afd.7d0778","order":1,"disp":true,"width":"6","collapse":false},{"id":"aba93922.66c4d8","type":"ui_group","z":"","name":"Paramétrage","tab":"f9181afd.7d0778","order":6,"disp":true,"width":6,"collapse":false},{"id":"f9181afd.7d0778","type":"ui_tab","z":"","name":"Affichage","icon":"dashboard","order":10,"disabled":false,"hidden":true},{"id":"2bb3877f.f09788","type":"mqtt-broker","z":"","name":"Florian","broker":"192.168.43.31","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e38e53c.2e48b8","type":"ui_group","z":"","name":"Temperature","tab":"af7a7330.097a5","order":1,"disp":true,"width":"6","collapse":false},{"id":"c33d28ed.a8e368","type":"mqtt-broker","z":"","name":"RaspBerry Mosquitto","broker":"192.168.43.31","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bc028fc2.52d6b","type":"ui_group","z":"","name":"Potentiometre","tab":"af7a7330.097a5","order":4,"disp":true,"width":"6","collapse":false},{"id":"4f95d262.05001c","type":"ui_group","z":"","name":"Luminosite","tab":"af7a7330.097a5","order":2,"disp":true,"width":"6","collapse":false},{"id":"a18166a4.8b0448","type":"ui_group","z":"","name":"Humidité","tab":"af7a7330.097a5","order":3,"disp":true,"width":"6","collapse":false},{"id":"88201ecc.e19a3","type":"ui_group","z":"","name":"Access","tab":"af7a7330.097a5","order":6,"disp":true,"width":"6","collapse":false},{"id":"2d7c160a.8d790a","type":"ui_group","z":"","name":"Raspberry","tab":"af7a7330.097a5","order":7,"disp":true,"width":"6","collapse":false},{"id":"3d90e732.5be9b8","type":"ngrokauth","z":""},{"id":"536f22c.aedfddc","type":"ui_group","z":"","name":"BatterySystème","tab":"af7a7330.097a5","order":9,"disp":true,"width":"6","collapse":false},{"id":"af7a7330.097a5","type":"ui_tab","z":"","name":"Affichage","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"2dfa38ba.2c31b8","type":"ui_group","z":"","name":"Connexion","tab":"11f52678.fd8e1a","order":1,"disp":true,"width":6,"collapse":false},{"id":"8c99e.37eb8663","type":"ui_group","z":"","name":"Informations","tab":"11f52678.fd8e1a","order":3,"disp":true,"width":"6","collapse":false},{"id":"11f52678.fd8e1a","type":"ui_tab","z":"","name":"Page de connexion","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"f460cbd5.e70148","type":"ui_group","z":"","name":"System","tab":"3dd6a2ea.7ef9ae","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec35f516.b0ef68","type":"ui_group","z":"","name":"OS","tab":"3dd6a2ea.7ef9ae","order":2,"disp":true,"width":"6","collapse":false},{"id":"a53d1b7b.2b1638","type":"ui_group","z":"","name":"Access","tab":"3dd6a2ea.7ef9ae","order":3,"disp":true,"width":"6","collapse":false},{"id":"3dd6a2ea.7ef9ae","type":"ui_tab","z":"931b9ff6.270a4","name":"Raspberry PI (Control Panel)","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"96f27930.6e1968","type":"ui_group","z":"","name":"Historique","tab":"c516acc1.a6128","order":2,"disp":true,"width":"10","collapse":false},{"id":"fdcdeaac.888f58","type":"ui_group","z":"","name":"HistoriqueDeux","tab":"c516acc1.a6128","order":3,"disp":true,"width":"10","collapse":false},{"id":"f0657f36.c54c9","type":"ui_group","z":"","name":"Picker","tab":"c516acc1.a6128","order":4,"disp":true,"width":"6","collapse":false},{"id":"df4e57a5.ee3b48","type":"ui_group","z":"","name":"Access","tab":"c516acc1.a6128","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f72456.b23f9bc","type":"ui_group","z":"","name":"Paramétrage","tab":"c516acc1.a6128","order":5,"disp":true,"width":"6","collapse":false},{"id":"a0544ef6.3a4c6","type":"mqtt-broker","z":"","name":"Florian","broker":"192.168.43.31","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c516acc1.a6128","type":"ui_tab","z":"","name":"Historique","icon":"dashboard","order":14,"disabled":false,"hidden":true},{"id":"4d6de080.6adf9","type":"ui_spacer","name":"spacer","group":"a18166a4.8b0448","order":2,"width":1,"height":1},{"id":"f4631cdd.51721","type":"ui_spacer","name":"spacer","group":"a18166a4.8b0448","order":4,"width":1,"height":1},{"id":"7ff8098e.6d5b18","type":"ui_spacer","name":"spacer","group":"a18166a4.8b0448","order":5,"width":1,"height":1},{"id":"89363205.d18ed","type":"ui_spacer","name":"spacer","group":"a18166a4.8b0448","order":6,"width":1,"height":1},{"id":"82477ee9.9034c","type":"ui_spacer","name":"spacer","group":"a18166a4.8b0448","order":7,"width":1,"height":1},{"id":"81d32715.c30998","type":"ui_spacer","name":"spacer","group":"a18166a4.8b0448","order":8,"width":1,"height":1},{"id":"9af3e933.346e58","type":"ui_spacer","name":"spacer","group":"a18166a4.8b0448","order":9,"width":1,"height":1},{"id":"c88ac5a7.8b8198","type":"ui_spacer","name":"spacer","group":"a18166a4.8b0448","order":10,"width":1,"height":1},{"id":"29669d83.87c3b2","type":"mqtt-broker","z":"","name":"Hugo Box","broker":"192.168.1.81","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f2e62e4f.d6941","type":"mqtt in","z":0,"name":"","topic":"data","qos":"2","datatype":"utf8","broker":"fa371185.47d87","x":90,"y":400,"wires":[["c6dae1cb.1902b","b51c3cde.5de7f","3944d87f.febfc8"]]},{"id":"714de2f9.5124fc","type":"debug","z":0,"name":"Brut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":500,"wires":[]},{"id":"e9182ad5.7e3728","type":"json","z":0,"name":"","property":"payload","action":"obj","pretty":false,"x":360,"y":500,"wires":[["714de2f9.5124fc","e24610f4.44e38","9476bd84.51d3","18c36895.c57807","5f8e6d03.cf8834"]]},{"id":"e24610f4.44e38","type":"change","z":0,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"temperature\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":560,"wires":[["6fb0d8f5.5c9458"]]},{"id":"b7c3a379.8375f","type":"debug","z":0,"name":"Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":460,"wires":[]},{"id":"9476bd84.51d3","type":"change","z":0,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"potentiometre\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":620,"wires":[["c87dd7f0.ba57e8","afc10d21.139c9"]]},{"id":"c6dae1cb.1902b","type":"debug","z":0,"name":"Brut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":420,"wires":[]},{"id":"18c36895.c57807","type":"change","z":0,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"luminosite\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":680,"wires":[["e0ec9bae.a0ed28","9d089279.afdcd"]]},{"id":"5f8e6d03.cf8834","type":"change","z":0,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"mouvement\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":740,"wires":[["a274bbbf.7ea4b8","b7a24b12.055838"]]},{"id":"22c8f4cb.e8dcdc","type":"ui_gauge","z":0,"name":"Gauche Temperature","group":"fe181e74.d0f48","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#96dbfc","#0999df","#0b3c59"],"seg1":"","seg2":"","x":1120,"y":520,"wires":[]},{"id":"2580f8b2.673ea8","type":"ui_chart","z":0,"name":"Graph Temperature","group":"fe181e74.d0f48","order":1,"width":0,"height":0,"label":"Graphe Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":560,"wires":[[]]},{"id":"458a807.1cf6f8","type":"debug","z":0,"name":"ngrok adress","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":240,"wires":[]},{"id":"de4d7bff.4c29c8","type":"inject","z":0,"name":"OFF","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":260,"wires":[["69b46f3f.0dcef"]]},{"id":"b51c3cde.5de7f","type":"function","z":0,"name":"Décryptage","func":"var sentence = msg.payload\nvar decod = [];\n\nfor (var i=0; i<sentence.length; i++)\n{\nchar = sentence.charCodeAt(i)\nchar = char - 1;\nlettre = String.fromCharCode(char);\ndecod.push(lettre);\n}\n\nstring = decod.join(\"\");\nmsg.payload = string;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":500,"wires":[["b3c4e5b1.776938","e9182ad5.7e3728"]]},{"id":"b3c4e5b1.776938","type":"debug","z":0,"name":"Msg Décrypté","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":620,"wires":[]},{"id":"3944d87f.febfc8","type":"debug","z":0,"name":"Initial","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":540,"wires":[]},{"id":"e03f56d5.9e1d48","type":"mqtt out","z":0,"name":"frequence","topic":"frequence","qos":"2","retain":"","broker":"fa371185.47d87","x":760,"y":1040,"wires":[]},{"id":"562d2f1f.576d3","type":"ui_numeric","z":0,"d":true,"name":"valFrequence","label":"Freq","tooltip":"","group":"fe181e74.d0f48","order":4,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"22","step":"2","x":140,"y":980,"wires":[["5c3912fb.a0c09c"]]},{"id":"776a5183.797c5","type":"ui_button","z":0,"d":true,"name":"set frequency","group":"fe181e74.d0f48","order":5,"width":0,"height":0,"passthru":false,"label":"set frequency","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1040,"wires":[["74358abf.598364"]]},{"id":"5c3912fb.a0c09c","type":"change","z":0,"name":"store value to flow context","rules":[{"t":"set","p":"valFrequence","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":980,"wires":[[]]},{"id":"74358abf.598364","type":"change","z":0,"name":"set value to msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"valFrequence","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1040,"wires":[["13488a77.74c3c6","e7545070.8284b"]]},{"id":"13488a77.74c3c6","type":"debug","z":0,"name":"frequenceInitiale","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":1100,"wires":[]},{"id":"101c24ef.b2130b","type":"ui_switch","z":0,"d":true,"name":"(s) / (h)","label":"Off(s)  On(h)","tooltip":"","group":"fe181e74.d0f48","order":3,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":940,"wires":[["cf7cf798.813458"]]},{"id":"cf7cf798.813458","type":"function","z":0,"name":"conversion","func":"var conversion = flow.get('conversion') || 0;\nif (msg.payload === true) {\n    flow.set('conversion', 3600);\n}\nelse{\n    flow.set('conversion', 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":940,"wires":[[]]},{"id":"e7545070.8284b","type":"function","z":0,"name":"calcul","func":"var convert = flow.get('conversion');\nmsg.payload = msg.payload * convert;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1040,"wires":[["e03f56d5.9e1d48","6edf3c8e.803f54"]]},{"id":"6edf3c8e.803f54","type":"debug","z":0,"name":"frequenceConvertie","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":1100,"wires":[]},{"id":"c2b42496.bb6538","type":"e-mail","z":0,"server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"meteoprd2020@gmail.com","dname":"","x":1240,"y":280,"wires":[]},{"id":"c7e1ced7.4d1fc","type":"inject","z":0,"name":"","topic":"","payload":"\"Pepito\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":320,"wires":[["f7dd6be5.192908"]]},{"id":"f7dd6be5.192908","type":"e-mail","z":0,"server":"smtp.gmail.com","port":"734","secure":true,"tls":false,"name":"meteoprd2020@gmail.com","dname":"","x":1230,"y":320,"wires":[]},{"id":"c87dd7f0.ba57e8","type":"ui_gauge","z":0,"name":"Gauche Pot","group":"341aa321.a79f0c","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":".","format":"{{value}}","min":0,"max":"1023","colors":["#96dbfc","#0999df","#0b3c59"],"seg1":"","seg2":"","x":870,"y":600,"wires":[]},{"id":"afc10d21.139c9","type":"ui_chart","z":0,"name":"Graph pot","group":"341aa321.a79f0c","order":1,"width":0,"height":0,"label":"Graphe Pot","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":640,"wires":[[]]},{"id":"e0ec9bae.a0ed28","type":"ui_gauge","z":0,"name":"Gauche Luminosité","group":"9c8b00ad.7726e","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":".","format":"{{value}}","min":0,"max":"800","colors":["#96dbfc","#0999df","#0b3c59"],"seg1":"","seg2":"","x":890,"y":680,"wires":[]},{"id":"9d089279.afdcd","type":"ui_chart","z":0,"name":"Graph Luminosité","group":"9c8b00ad.7726e","order":1,"width":0,"height":0,"label":"Graphe Luminosité","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"800","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":720,"wires":[[]]},{"id":"a274bbbf.7ea4b8","type":"ui_gauge","z":0,"name":"Gauche Mouvement","group":"53deb5c.52fb84c","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":".","format":"{{value}}","min":0,"max":"800","colors":["#96dbfc","#0999df","#0b3c59"],"seg1":"","seg2":"","x":900,"y":760,"wires":[]},{"id":"b7a24b12.055838","type":"ui_chart","z":0,"name":"Graph Mouvement","group":"53deb5c.52fb84c","order":1,"width":0,"height":0,"label":"Graphe Mouvement","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"800","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":800,"wires":[[]]},{"id":"6fb0d8f5.5c9458","type":"function","z":0,"name":"arrondi_temperature","func":"var nombre = 1/(Math.log(1023/(parseFloat(msg.payload))-1)/4275 + 1/298.5)-273.5\n\n\narrondi = nombre*100;          // 556.845\narrondi = Math.round(arrondi); // 556\narrondi = arrondi/100;\n\nmsg.payload = arrondi;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":560,"wires":[["2580f8b2.673ea8","22c8f4cb.e8dcdc","b7c3a379.8375f"]]},{"id":"be0846cc.776a28","type":"ui_button","z":0,"name":"","group":"16d6551f.ab0e0b","order":1,"width":5,"height":1,"passthru":false,"label":"Déconnexion","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":240,"wires":[["6b7ad776.18c898"]]},{"id":"6b7ad776.18c898","type":"function","z":0,"name":"","func":"var msgC = {};\nmsgC.payload = {tab:\"Page de connexion\"};\n\nreturn msgC;\n","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["2fcbbff6.42be1"]]},{"id":"2fcbbff6.42be1","type":"ui_ui_control","z":0,"name":"Accès aux infos","x":510,"y":240,"wires":[[]]},{"id":"eed2c95.a9df538","type":"ui_button","z":0,"name":"","group":"16d6551f.ab0e0b","order":3,"width":0,"height":0,"passthru":false,"label":"Historique","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":280,"wires":[["62d73888.809fa8"]]},{"id":"62d73888.809fa8","type":"function","z":0,"name":"","func":"let msgH = {};\nmsgH.payload = {tab:\"Historique\"};\n\nreturn msgH;\n","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["a8315d88.6ecdd"]]},{"id":"a8315d88.6ecdd","type":"ui_ui_control","z":0,"name":"Accès aux infos","x":510,"y":280,"wires":[[]]},{"id":"92383ab2.2a3d88","type":"json","z":0,"name":"","property":"payload","action":"","pretty":false,"x":730,"y":940,"wires":[[]]},{"id":"12397e51.4dcf12","type":"inject","z":0,"name":"","topic":"","payload":"azerty","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":980,"wires":[[]]},{"id":"fabb2cf5.7994f","type":"ui_slider","z":0,"name":"","label":"","tooltip":"","group":"63e1fee0.b0b0a","order":1,"width":4,"height":1,"passthru":false,"outs":"all","topic":"","min":"1","max":"60","step":1,"x":110,"y":1180,"wires":[["331099b7.f26e36","98fb39fc.fc6568"]]},{"id":"331099b7.f26e36","type":"change","z":0,"name":"store value to flow context","rules":[{"t":"set","p":"valFrequence","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1180,"wires":[[]]},{"id":"4e4bb310.72796c","type":"ui_button","z":0,"name":"set frequency","group":"63e1fee0.b0b0a","order":3,"width":0,"height":0,"passthru":false,"label":"set frequency","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1240,"wires":[["6debfe21.f3e84"]]},{"id":"6debfe21.f3e84","type":"change","z":0,"name":"set value to msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"valFrequence","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1240,"wires":[["546fd2f0.4aac3c"]]},{"id":"546fd2f0.4aac3c","type":"function","z":0,"name":"calcul","func":"msg.payload = msg.payload * 60;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1240,"wires":[["32de6817.81d1a8"]]},{"id":"32de6817.81d1a8","type":"mqtt out","z":0,"name":"frequence","topic":"frequence","qos":"","retain":"","broker":"fa371185.47d87","x":680,"y":1240,"wires":[]},{"id":"98fb39fc.fc6568","type":"ui_text","z":0,"group":"63e1fee0.b0b0a","order":2,"width":2,"height":1,"name":"","label":"Min","format":"{{msg.payload}}","layout":"row-center","x":230,"y":1140,"wires":[]},{"id":"18e9a84d.9ffc08","type":"status","z":0,"name":"status MQTT","scope":["f2e62e4f.d6941"],"x":150,"y":140,"wires":[["8e7c3462.280288","80c9e66a.6b3038"]]},{"id":"8e7c3462.280288","type":"debug","z":0,"name":"status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":140,"wires":[]},{"id":"20040d6e.03b042","type":"function","z":0,"name":"","func":"var status=global.get('mqtt_status');\nnode.log(\"status is =\" +status.text);\nif(status.text==\"node-red:common.status.connected\")\n{\n    flow.set('mqtt', \"connected\");\n    msg.payload=\"connected\";\n    return msg;\n}\nif(status.text==\"node-red:common.status.connecting\")\n{\n    flow.set('mqtt', \"connecting\");\n    msg.payload=\"connecting!\";\n    return msg;\n}\nif(status.text==\"node-red:common.status.disconnected\")\n{\n    flow.set('mqtt', \"disconnected\");\n    msg.payload=\"disconnected\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":630,"y":80,"wires":[["2b07fbbf.0f0834"]]},{"id":"d41e84f4.f9b708","type":"inject","z":0,"name":"5 secs","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":80,"wires":[["20040d6e.03b042"]]},{"id":"2b07fbbf.0f0834","type":"debug","z":0,"name":"status End","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":80,"wires":[]},{"id":"dd882e45.44d4e","type":"inject","z":0,"name":"ON","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":220,"wires":[["69b46f3f.0dcef"]]},{"id":"69b46f3f.0dcef","type":"ngrok","z":0,"port":"1880","creds":"","region":"eu","subdomain":"","name":"NGROK","auth":"","x":900,"y":240,"wires":[["458a807.1cf6f8"]]},{"id":"80c9e66a.6b3038","type":"function","z":0,"name":"","func":"var mqtt_status=msg.status;\nglobal.set('mqtt_status',mqtt_status);\nreturn","outputs":1,"noerr":0,"x":270,"y":180,"wires":[[]]},{"id":"10d58ff4.400ee","type":"comment","z":0,"name":"OTP","info":"Seulement un tunnel NGROK ouvert en même temps","x":890,"y":200,"wires":[]},{"id":"405ffbdd.a669f4","type":"mqtt in","z":"286d2377.42efdc","name":"","topic":"data","qos":"2","datatype":"utf8","broker":"2bb3877f.f09788","x":90,"y":400,"wires":[["6a831900.4e4a88","146c76d2.c6b069","776bb871.bcdee8"]]},{"id":"2bb3452b.dfa92a","type":"debug","z":"286d2377.42efdc","name":"Brut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":500,"wires":[]},{"id":"b66aabbb.55d6b8","type":"json","z":"286d2377.42efdc","name":"","property":"payload","action":"obj","pretty":false,"x":360,"y":500,"wires":[["2bb3452b.dfa92a","63c4affc.d65aa","ebd302ed.4b58b","d87422b2.707c","738e7983.7ea688","dbed6e68.7fc57"]]},{"id":"63c4affc.d65aa","type":"change","z":"286d2377.42efdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"temperature\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":560,"wires":[["ef3d3549.4fd1a8"]]},{"id":"fe8c7656.45a538","type":"debug","z":"286d2377.42efdc","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":460,"wires":[]},{"id":"ebd302ed.4b58b","type":"change","z":"286d2377.42efdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"potentiometre\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":620,"wires":[["f69015bf.a86e38","9209fee6.f272a"]]},{"id":"6a831900.4e4a88","type":"debug","z":"286d2377.42efdc","name":"Brut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":440,"wires":[]},{"id":"d87422b2.707c","type":"change","z":"286d2377.42efdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"luminosite\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":680,"wires":[["81b16bca.cfb488","8dbfc93c.80ec08"]]},{"id":"738e7983.7ea688","type":"change","z":"286d2377.42efdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"humidite\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":740,"wires":[["315b8e7b.78f9c2","7af9198c.bf0848"]]},{"id":"38ce5727.2fe588","type":"ui_gauge","z":"286d2377.42efdc","name":"Gauche Temperature","group":"9e38e53c.2e48b8","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#96dbfc","#0999df","#0b3c59"],"seg1":"","seg2":"","x":1160,"y":520,"wires":[]},{"id":"532e0031.88e87","type":"ui_chart","z":"286d2377.42efdc","name":"Graph Temperature","group":"9e38e53c.2e48b8","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1150,"y":560,"wires":[[]]},{"id":"3ea20cab.463aa4","type":"debug","z":"286d2377.42efdc","name":"ngrok adress","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":200,"wires":[]},{"id":"4223ca60.1dbc44","type":"inject","z":"286d2377.42efdc","name":"OFF","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":260,"wires":[["2ba0e38e.c5000c"]]},{"id":"146c76d2.c6b069","type":"function","z":"286d2377.42efdc","name":"Décryptage","func":"var sentence = msg.payload\nvar decod = [];\n\nfor (var i=0; i<sentence.length; i++)\n{\nchar = sentence.charCodeAt(i)\nchar = char - 1;\nlettre = String.fromCharCode(char);\ndecod.push(lettre);\n}\n\nstring = decod.join(\"\");\nmsg.payload = string;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":500,"wires":[["5b9dcc1c.491994","b66aabbb.55d6b8"]]},{"id":"5b9dcc1c.491994","type":"debug","z":"286d2377.42efdc","name":"Msg Décrypté","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":620,"wires":[]},{"id":"776bb871.bcdee8","type":"debug","z":"286d2377.42efdc","name":"Initial","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":540,"wires":[]},{"id":"53f368fe.b62278","type":"mqtt out","z":"286d2377.42efdc","name":"frequence","topic":"frequence","qos":"","retain":"","broker":"2bb3877f.f09788","x":760,"y":1040,"wires":[]},{"id":"e75df587.a310a8","type":"ui_numeric","z":"286d2377.42efdc","d":true,"name":"valFrequence","label":"Freq","tooltip":"","group":"9e38e53c.2e48b8","order":4,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"22","step":"2","x":140,"y":980,"wires":[["d934575.70c2aa8"]]},{"id":"50f1c1c9.6d1bf","type":"ui_button","z":"286d2377.42efdc","d":true,"name":"set frequency","group":"9e38e53c.2e48b8","order":5,"width":0,"height":0,"passthru":false,"label":"set frequency","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1040,"wires":[["c009ed3b.16847"]]},{"id":"d934575.70c2aa8","type":"change","z":"286d2377.42efdc","name":"store value to flow context","rules":[{"t":"set","p":"valFrequence","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":980,"wires":[[]]},{"id":"c009ed3b.16847","type":"change","z":"286d2377.42efdc","name":"set value to msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"valFrequence","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1040,"wires":[["d8dd322a.b71c","1b679987.9940d6"]]},{"id":"d8dd322a.b71c","type":"debug","z":"286d2377.42efdc","name":"frequenceInitiale","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":1100,"wires":[]},{"id":"ca3edda6.09def","type":"ui_switch","z":"286d2377.42efdc","d":true,"name":"(s) / (h)","label":"Off(s)  On(h)","tooltip":"","group":"9e38e53c.2e48b8","order":3,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":940,"wires":[["12037c02.af3214"]]},{"id":"12037c02.af3214","type":"function","z":"286d2377.42efdc","name":"conversion","func":"var conversion = flow.get('conversion') || 0;\nif (msg.payload === true) {\n    flow.set('conversion', 3600);\n}\nelse{\n    flow.set('conversion', 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":940,"wires":[[]]},{"id":"1b679987.9940d6","type":"function","z":"286d2377.42efdc","name":"calcul","func":"var convert = flow.get('conversion');\nmsg.payload = msg.payload * convert;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1040,"wires":[["53f368fe.b62278","9ed5002.09751"]]},{"id":"9ed5002.09751","type":"debug","z":"286d2377.42efdc","name":"frequenceConvertie","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":1100,"wires":[]},{"id":"e05e7fe5.c91fc","type":"e-mail","z":"286d2377.42efdc","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"meteoprd2020@gmail.com","dname":"","x":1280,"y":240,"wires":[]},{"id":"f69015bf.a86e38","type":"ui_gauge","z":"286d2377.42efdc","name":"Gauche Pot","group":"bc028fc2.52d6b","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":".","format":"{{value}}","min":0,"max":"1023","colors":["#96dbfc","#0999df","#0b3c59"],"seg1":"","seg2":"","x":870,"y":600,"wires":[]},{"id":"9209fee6.f272a","type":"ui_chart","z":"286d2377.42efdc","name":"Graph pot","group":"bc028fc2.52d6b","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":640,"wires":[[]]},{"id":"81b16bca.cfb488","type":"ui_gauge","z":"286d2377.42efdc","name":"Gauche Luminosité","group":"4f95d262.05001c","order":2,"width":6,"height":4,"gtype":"gage","title":"","label":"Lux","format":"{{value}}","min":0,"max":"1023","colors":["#96dbfc","#0999df","#0b3c59"],"seg1":"","seg2":"","x":890,"y":680,"wires":[]},{"id":"8dbfc93c.80ec08","type":"ui_chart","z":"286d2377.42efdc","name":"Graph Luminosité","group":"4f95d262.05001c","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":720,"wires":[[]]},{"id":"315b8e7b.78f9c2","type":"ui_gauge","z":"286d2377.42efdc","name":"Gauche Humidité","group":"a18166a4.8b0448","order":3,"width":4,"height":4,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#96dbfc","#0999df","#0b3c59"],"seg1":"","seg2":"","x":890,"y":760,"wires":[]},{"id":"7af9198c.bf0848","type":"ui_chart","z":"286d2377.42efdc","name":"Graph Humidité","group":"a18166a4.8b0448","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":800,"wires":[[]]},{"id":"ef3d3549.4fd1a8","type":"function","z":"286d2377.42efdc","name":"(useless) arrondi_temperature","func":"//var nombre = 1/(Math.log(1023/(parseFloat(msg.payload))-1)/4275 + 1/298.5)-273.5\n\n\n//arrondi = nombre*100;          // 556.845\n//arrondi = Math.round(arrondi); // 556\n//arrondi = arrondi/100;\n\n//msg.payload = arrondi;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":560,"wires":[["532e0031.88e87","38ce5727.2fe588","fe8c7656.45a538"]]},{"id":"b244c04f.4f07e","type":"ui_button","z":"286d2377.42efdc","name":"","group":"88201ecc.e19a3","order":2,"width":6,"height":1,"passthru":false,"label":"Déconnexion","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":240,"wires":[["cb27872c.f191e8"]]},{"id":"cb27872c.f191e8","type":"function","z":"286d2377.42efdc","name":"","func":"var msgC = {};\nmsgC.payload = {tab:\"Page de connexion\"};\n\nreturn msgC;\n","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["9673c9de.8af0a8"]]},{"id":"9673c9de.8af0a8","type":"ui_ui_control","z":"286d2377.42efdc","name":"Accès aux infos","x":510,"y":240,"wires":[[]]},{"id":"1a07a88f.8d8a37","type":"function","z":"286d2377.42efdc","name":"","func":"let msgH = {};\nmsgH.payload = {tab:\"Historique\"};\n\nreturn msgH;\n","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["56be33b6.3d6b7c"]]},{"id":"56be33b6.3d6b7c","type":"ui_ui_control","z":"286d2377.42efdc","name":"Accès aux infos","x":510,"y":280,"wires":[[]]},{"id":"939b3bbe.b17258","type":"json","z":"286d2377.42efdc","name":"","property":"payload","action":"","pretty":false,"x":730,"y":940,"wires":[[]]},{"id":"9a9570bf.c59e9","type":"inject","z":"286d2377.42efdc","name":"","topic":"","payload":"azerty","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":980,"wires":[[]]},{"id":"a12f9550.a28648","type":"ui_led","z":"286d2377.42efdc","group":"2d7c160a.8d790a","order":2,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"disconnected","valueType":"str"},{"color":"green","value":"connected","valueType":"str"},{"color":"orange","value":"connecting!","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":770,"y":80,"wires":[]},{"id":"583a8cc7.a8af24","type":"status","z":"286d2377.42efdc","name":"status MQTT","scope":["405ffbdd.a669f4"],"x":130,"y":140,"wires":[["d98dd841.57ecb8","acf7475a.950fe8"]]},{"id":"d98dd841.57ecb8","type":"debug","z":"286d2377.42efdc","name":"status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":100,"wires":[]},{"id":"80bf3c02.8f919","type":"function","z":"286d2377.42efdc","name":"","func":"var status=global.get('mqtt_status');\nnode.log(\"status is =\" +status.text);\nif(status.text==\"node-red:common.status.connected\")\n{\n    flow.set('mqtt', \"connected\");\n    msg.payload=\"connected\";\n    return msg;\n}\nif(status.text==\"node-red:common.status.connecting\")\n{\n    flow.set('mqtt', \"connecting\");\n    msg.payload=\"connecting!\";\n    return msg;\n}\nif(status.text==\"node-red:common.status.disconnected\")\n{\n    flow.set('mqtt', \"disconnected\");\n    msg.payload=\"disconnected\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":630,"y":80,"wires":[["a12f9550.a28648","c72e62ff.085dc"]]},{"id":"38f6c4c4.4f21ac","type":"inject","z":"286d2377.42efdc","name":"[]","topic":"","payload":"true","payloadType":"bool","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":80,"wires":[["80bf3c02.8f919"]]},{"id":"c72e62ff.085dc","type":"debug","z":"286d2377.42efdc","name":"status End","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":40,"wires":[]},{"id":"2a76a7ac.3285e8","type":"inject","z":"286d2377.42efdc","name":"ON","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":770,"y":220,"wires":[["2ba0e38e.c5000c"]]},{"id":"2ba0e38e.c5000c","type":"ngrok","z":"286d2377.42efdc","port":"1880","creds":"3d90e732.5be9b8","region":"eu","subdomain":"","name":"NGROK","auth":"","x":900,"y":240,"wires":[["3ea20cab.463aa4","631b6e8b.24ac9"]]},{"id":"acf7475a.950fe8","type":"function","z":"286d2377.42efdc","name":"","func":"var mqtt_status=msg.status;\nglobal.set('mqtt_status',mqtt_status);\nreturn","outputs":1,"noerr":0,"x":290,"y":140,"wires":[[]]},{"id":"4717c981.3945d8","type":"comment","z":"286d2377.42efdc","name":"OTP","info":"Seulement un tunnel NGROK ouvert en même temps","x":910,"y":200,"wires":[]},{"id":"247f21a0.1b361e","type":"ui_button","z":"286d2377.42efdc","name":"","group":"88201ecc.e19a3","order":1,"width":6,"height":1,"passthru":false,"label":"Historique","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":280,"wires":[["1a07a88f.8d8a37"]]},{"id":"cbbfe151.e2b2","type":"ui_text","z":"286d2377.42efdc","group":"2d7c160a.8d790a","order":1,"width":5,"height":1,"name":"","label":"RaspServer","format":"{{msg.payload}}","layout":"row-left","x":750,"y":160,"wires":[]},{"id":"dbed6e68.7fc57","type":"change","z":"286d2377.42efdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"batterie\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["6fde82ff.a82d2c","d350c433.01ece8"]]},{"id":"6fde82ff.a82d2c","type":"function","z":"286d2377.42efdc","name":"","func":"var battery = msg.payload;\nbatteryPourcentage = 100 * battery / 1023;\nmsg.payload = batteryPourcentage;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["2a0a5f3d.49c8f"]]},{"id":"2a0a5f3d.49c8f","type":"ui_level","z":"286d2377.42efdc","group":"536f22c.aedfddc","order":1,"width":0,"height":0,"name":"","label":"","colorHi":"#00b33c","colorWarn":"#ff9900","colorNormal":"#e60000","colorOff":"#595959","min":0,"max":100,"segWarn":"20","segHigh":"70","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":770,"y":400,"wires":[]},{"id":"6d279052.79b75","type":"ui_button","z":"286d2377.42efdc","name":"","group":"88201ecc.e19a3","order":3,"width":0,"height":0,"passthru":false,"label":"RaspPi Control Panel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":320,"wires":[["5ac3a03c.81d61"]]},{"id":"5ac3a03c.81d61","type":"function","z":"286d2377.42efdc","name":"","func":"var msgC = {};\nmsgC.payload = {tab:\"Raspberry PI (Control Panel)\"};\n\nreturn msgC;\n","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["f4385f87.c4afb"]]},{"id":"f4385f87.c4afb","type":"ui_ui_control","z":"286d2377.42efdc","name":"Accès aux infos","x":560,"y":320,"wires":[[]]},{"id":"c936bfb1.cd7a9","type":"function","z":"e3696c4f.31226","name":"Success","func":"var msg = {};\nmsg.payload = {tab:\"Affichage\"};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":140,"wires":[["bb3a2930.2df378"]]},{"id":"2e9e5ded.8cb282","type":"ui_form","z":"e3696c4f.31226","name":"","label":"Login","group":"2dfa38ba.2c31b8","order":1,"width":0,"height":0,"options":[{"label":"Identifiant","value":"id","type":"text","required":true},{"label":"Mot de passe","value":"psw","type":"password","required":true}],"formValue":{"id":"","psw":""},"payload":"","submit":"Connexion","cancel":"Reset","topic":"","x":120,"y":160,"wires":[["eaca6410.c9bb38"]]},{"id":"cc0e0a57.812998","type":"debug","z":"e3696c4f.31226","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":280,"wires":[]},{"id":"eaca6410.c9bb38","type":"function","z":"e3696c4f.31226","name":"check id/pw","func":"var id = msg.payload.id ;\nvar psw = msg.payload.psw ;\n\nif (id=='admin' && psw=='admin'){\n    msg.payload=1;\n}\nif (id!='admin' || psw!='admin'){\n    msg.payload=0\n}\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["842faf46.5375"]]},{"id":"842faf46.5375","type":"switch","z":"e3696c4f.31226","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["c936bfb1.cd7a9"],["e52d8c2.5ff6a7"]]},{"id":"e52d8c2.5ff6a7","type":"function","z":"e3696c4f.31226","name":"Failed","func":"msg.payload = \"Wrong id/pw\"\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["229c7152.9feb5e"]]},{"id":"229c7152.9feb5e","type":"ui_toast","z":"e3696c4f.31226","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"PopUp","x":710,"y":180,"wires":[[]]},{"id":"bb3a2930.2df378","type":"ui_ui_control","z":"e3696c4f.31226","name":"Accès aux infos","events":"change","x":740,"y":140,"wires":[[]]},{"id":"ab26e465.56bad8","type":"ui_text","z":"e3696c4f.31226","group":"8c99e.37eb8663","order":1,"width":0,"height":0,"name":"Formatted Date","label":"Date: ","format":"{{payload | date:\"dd.MM.yyyy\"}}","layout":"row-left","x":680,"y":300,"wires":[]},{"id":"323ca445.0e85ac","type":"inject","z":"e3696c4f.31226","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":300,"wires":[["ab26e465.56bad8","7247a1d7.49134"]]},{"id":"7247a1d7.49134","type":"ui_text","z":"e3696c4f.31226","group":"8c99e.37eb8663","order":2,"width":0,"height":0,"name":"Formatted Hour","label":"Heure:","format":"{{payload | date:\"H:m\"}}","layout":"row-left","x":680,"y":340,"wires":[]},{"id":"d5c1f12b.9fe74","type":"ui_text","z":"e3696c4f.31226","group":"8c99e.37eb8663","order":4,"width":0,"height":0,"name":"","label":"PRD Météo designed by CHEVRON, LABROSA, PROMONET","format":"{{msg.payload}}","layout":"row-left","x":530,"y":380,"wires":[]},{"id":"be96da4d.3bc868","type":"ui_gauge","z":"931b9ff6.270a4","name":"","group":"f460cbd5.e70148","order":1,"width":3,"height":3,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"60","x":683,"y":33,"wires":[]},{"id":"2be4ef52.1dc8","type":"exec","z":"931b9ff6.270a4","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":325.2221908569336,"y":46.33333683013916,"wires":[["187f234b.4f460d"],[],[]]},{"id":"96a87008.1d76e","type":"inject","z":"931b9ff6.270a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"","x":107.49996185302734,"y":46.805556297302246,"wires":[["2be4ef52.1dc8","87fdc821.a76d78","ffe74506.a37498"]]},{"id":"187f234b.4f460d","type":"function","z":"931b9ff6.270a4","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":471.888858795166,"y":33.00000190734863,"wires":[["be96da4d.3bc868","fb4b1eaf.db6d7"]]},{"id":"39dad56e.e1a7ba","type":"ui_button","z":"931b9ff6.270a4","name":"","group":"ec35f516.b0ef68","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":114.66669464111328,"y":330.0000696182251,"wires":[["fc8fe1ba.577ea"]]},{"id":"fc8fe1ba.577ea","type":"exec","z":"931b9ff6.270a4","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":314.888916015625,"y":330.0000457763672,"wires":[[],[],[]]},{"id":"c0813c0b.e8535","type":"ui_button","z":"931b9ff6.270a4","name":"","group":"ec35f516.b0ef68","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":104.27777099609375,"y":386.47229862213135,"wires":[["6c2128a0.f3b518"]]},{"id":"6c2128a0.f3b518","type":"exec","z":"931b9ff6.270a4","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":324.1666564941406,"y":386.6944923400879,"wires":[[],[],[]]},{"id":"fb4b1eaf.db6d7","type":"ui_chart","z":"931b9ff6.270a4","name":"","group":"f460cbd5.e70148","order":5,"width":6,"height":4,"label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":683.9999389648438,"y":72.66667175292969,"wires":[[]]},{"id":"87fdc821.a76d78","type":"exec","z":"931b9ff6.270a4","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":325.2221908569336,"y":126.33333683013916,"wires":[["2c8684aa.0be4ec"],[],[]]},{"id":"ffe74506.a37498","type":"exec","z":"931b9ff6.270a4","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":325.2222099304199,"y":190.55557250976562,"wires":[["397465d4.f2271a"],[],[]]},{"id":"2c8684aa.0be4ec","type":"ui_gauge","z":"931b9ff6.270a4","name":"","group":"f460cbd5.e70148","order":4,"width":3,"height":3,"gtype":"gage","title":"CPU","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":645.111083984375,"y":114.11111450195312,"wires":[]},{"id":"397465d4.f2271a","type":"ui_gauge","z":"931b9ff6.270a4","name":"","group":"f460cbd5.e70148","order":2,"width":3,"height":3,"gtype":"gage","title":"Memory free","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":663.3333320617676,"y":176.55556392669678,"wires":[]},{"id":"f4e07dc2.304c1","type":"exec","z":"931b9ff6.270a4","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":322.88884353637695,"y":258.2222442626953,"wires":[["851723ec.2152d"],[],[]]},{"id":"84245293.dc349","type":"ui_gauge","z":"931b9ff6.270a4","name":"","group":"f460cbd5.e70148","order":3,"width":3,"height":3,"gtype":"gage","title":"Disk Space","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":661.1110496520996,"y":244.88890743255615,"wires":[]},{"id":"851723ec.2152d","type":"function","z":"931b9ff6.270a4","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":470.66661071777344,"y":244.88890171051025,"wires":[["84245293.dc349"]]},{"id":"9d33bd38.64663","type":"inject","z":"931b9ff6.270a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":122.88884353637695,"y":258.2222442626953,"wires":[["f4e07dc2.304c1"]]},{"id":"6c55a4e9.76166c","type":"ui_text","z":"931b9ff6.270a4","group":"ec35f516.b0ef68","order":3,"width":6,"height":2,"name":"","label":"IP Address","format":"{{value.substring(0, value.indexOf(\" \"))}}","layout":"col-center","x":510,"y":433,"wires":[]},{"id":"60723122.c82e8","type":"inject","z":"931b9ff6.270a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":118.90821075439453,"y":445.567081451416,"wires":[["f72983f6.24f6e"]]},{"id":"f72983f6.24f6e","type":"exec","z":"931b9ff6.270a4","command":"hostname","addpay":false,"append":"-I","useSpawn":"","timer":"","name":"Get Local IP","x":323.4637641906738,"y":446.06709480285645,"wires":[["6c55a4e9.76166c"],[],[]]},{"id":"bc85d857.ffbc48","type":"ui_button","z":"931b9ff6.270a4","name":"","group":"a53d1b7b.2b1638","order":1,"width":6,"height":1,"passthru":false,"label":"Affichage","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":560,"wires":[["6711625a.13269c"]]},{"id":"6711625a.13269c","type":"function","z":"931b9ff6.270a4","name":"","func":"let msgH = {};\nmsgH.payload = {tab:\"Affichage\"};\n\nreturn msgH;\n","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["34b331df.1b18ce"]]},{"id":"34b331df.1b18ce","type":"ui_ui_control","z":"931b9ff6.270a4","name":"Accès aux infos","x":470,"y":560,"wires":[[]]},{"id":"8fae8dc.677607","type":"ui_chart","z":"3d7ce8de.33d248","name":"","group":"96f27930.6e1968","order":1,"width":10,"height":6,"label":"{{msg.label}}","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"40","removeOlder":"2","removeOlderPoints":"20000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":260,"wires":[[]]},{"id":"8265a89f.90af38","type":"function","z":"3d7ce8de.33d248","name":"Setup payload","func":"var dateDebut = flow.get('dateDebut');\nvar dateFin = flow.get('dateFin');\ndataToDisplay = [];\n\nseries = [];\ndata = [];\nlabels = [];\n\n\nseries.push(\"Temperature\");\nlabels.push(\"Temperature\");\n//data.push(msg.data);\n\nfor (let i=0; i < msg.data.length; i++){\n    if (dateDebut < msg.payload[i].time){\n        if (msg.payload[i].time < dateFin){\n            data.push(msg.data[i])\n        }\n    }\n}\n\ndataToDisplay.push(data);\n\nmsg.topic = \"Temp\";\nmsg.payload = [{\"series\":series, \"data\":dataToDisplay,\"labels\": labels}];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":260,"wires":[["8fae8dc.677607","7be31ccf.12c424"]]},{"id":"fea4c8e8.78f6b8","type":"debug","z":"3d7ce8de.33d248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[2].time","targetType":"msg","x":360,"y":340,"wires":[]},{"id":"33360aa0.bb7356","type":"file in","z":"3d7ce8de.33d248","name":"","filename":"/home/pi/Documents/Projet_Supervision/BDD/bdd_finale.txt","format":"lines","chunk":false,"sendError":false,"x":680,"y":140,"wires":[["c7f39014.fa75b"]]},{"id":"c7f39014.fa75b","type":"json","z":"3d7ce8de.33d248","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":260,"wires":[["953484c4.4d93a8"]]},{"id":"953484c4.4d93a8","type":"join","z":"3d7ce8de.33d248","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":260,"wires":[["b6ea99c8.a45e18","78eb5429.12c18c","fea4c8e8.78f6b8","88f3d0c0.f187f","3bf976e2.b573ca"]]},{"id":"b6ea99c8.a45e18","type":"function","z":"3d7ce8de.33d248","name":"Build Data array","func":"function fixData(elem) {\n    return {\"x\" : new Date(elem.time*1000).getTime(), \"y\":parseInt(elem.temperature)};\n}\n//new Date(elem.time).getTime()\nvar adata = msg.payload.map(fixData);\nmsg.data = adata;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["8265a89f.90af38","a94f8f2a.10614","1fb14b75.4fcf75"]]},{"id":"da442df3.59fe4","type":"function","z":"3d7ce8de.33d248","name":"Setup payload","func":"var dateDebut = flow.get('dateDebut');\nvar dateFin = flow.get('dateFin');\ndataToDisplay = [];\n\nseries = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Potentiometre\");\nlabels.push(\"Potentiometre\");\n\nfor (let i=0; i < msg.data.length; i++){\n    if (dateDebut < msg.payload[i].time){\n        if (msg.payload[i].time < dateFin){\n            data.push(msg.data[i])\n        }\n    }\n}\n\ndataToDisplay.push(data);\n\nmsg.topic = \"Potentiometre\";\nmsg.payload = [{\"series\":series, \"data\":dataToDisplay,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":300,"wires":[["4f0391dc.0a6f"]]},{"id":"78eb5429.12c18c","type":"function","z":"3d7ce8de.33d248","name":"Build Data array","func":"function fixData(elem) {\n    return {\"x\" : new Date(elem.time*1000).getTime(), \"y\":parseInt(elem.potentiometre)};\n}\n//new Date(elem.time).getTime()\nlet adata = msg.payload.map(fixData);\nmsg.data = adata;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["da442df3.59fe4"]]},{"id":"4f0391dc.0a6f","type":"ui_chart","z":"3d7ce8de.33d248","name":"","group":"96f27930.6e1968","order":3,"width":10,"height":6,"label":"{{msg.label}}","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":"2","removeOlderPoints":"20000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":300,"wires":[[]]},{"id":"327b860b.f434aa","type":"inject","z":"3d7ce8de.33d248","name":"","topic":"","payload":"[]","payloadType":"str","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":120,"wires":[["33360aa0.bb7356","180b20cb.ce082f"]]},{"id":"180b20cb.ce082f","type":"debug","z":"3d7ce8de.33d248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":100,"wires":[]},{"id":"f0c5b9b5.794ed8","type":"function","z":"3d7ce8de.33d248","name":"Setup payload","func":"var dateDebut = flow.get('dateDebut');\nvar dateFin = flow.get('dateFin');\ndataToDisplay = [];\n\nseries = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Luminosite\");\nlabels.push(\"Luminosite\");\n\nfor (let i=0; i < msg.data.length; i++){\n    if (dateDebut < msg.payload[i].time){\n        if (msg.payload[i].time < dateFin){\n            data.push(msg.data[i])\n        }\n    }\n}\n\ndataToDisplay.push(data);\nmsg.topic = \"Luminosite\";\nmsg.payload = [{\"series\":series, \"data\":dataToDisplay,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":360,"wires":[["85d54bfc.406818"]]},{"id":"88f3d0c0.f187f","type":"function","z":"3d7ce8de.33d248","name":"Build Data array","func":"function fixData(elem) {\n    return {\"x\" : new Date(elem.time*1000).getTime(), \"y\":parseInt(elem.luminosite)};\n}\n//new Date(elem.time).getTime()\nlet adata = msg.payload.map(fixData);\nmsg.data = adata;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["f0c5b9b5.794ed8"]]},{"id":"85d54bfc.406818","type":"ui_chart","z":"3d7ce8de.33d248","name":"","group":"fdcdeaac.888f58","order":1,"width":10,"height":6,"label":"{{msg.label}}","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":"2","removeOlderPoints":"20000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":360,"wires":[[]]},{"id":"45726718.6a2e58","type":"function","z":"3d7ce8de.33d248","name":"Setup payload","func":"var dateDebut = flow.get('dateDebut');\nvar dateFin = flow.get('dateFin');\ndataToDisplay = [];\n\nseries = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Humidité\");\nlabels.push(\"Humidité\");\n\nfor (let i=0; i < msg.data.length; i++){\n    if (dateDebut < msg.payload[i].time){\n        if (msg.payload[i].time < dateFin){\n            data.push(msg.data[i])\n        }\n    }\n}\n\ndataToDisplay.push(data);\n\nmsg.topic = \"Mouvement\";\nmsg.payload = [{\"series\":series, \"data\":dataToDisplay,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":400,"wires":[["8a8209e8.87cc98"]]},{"id":"3bf976e2.b573ca","type":"function","z":"3d7ce8de.33d248","name":"Build Data array","func":"function fixData(elem) {\n    return {\"x\" : new Date(elem.time*1000).getTime(), \"y\":parseInt(elem.humidite)};\n}\n//new Date(elem.time).getTime()\nlet adata = msg.payload.map(fixData);\nmsg.data = adata;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":400,"wires":[["45726718.6a2e58"]]},{"id":"8a8209e8.87cc98","type":"ui_chart","z":"3d7ce8de.33d248","name":"","group":"fdcdeaac.888f58","order":2,"width":0,"height":0,"label":"{{msg.label}}","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"20000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":400,"wires":[[]]},{"id":"c78992ee.1de16","type":"ui_date_picker","z":"3d7ce8de.33d248","name":"","label":"date","group":"f0657f36.c54c9","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":290,"y":540,"wires":[["d2389b02.226998"]]},{"id":"954b71b0.ec4c9","type":"debug","z":"3d7ce8de.33d248","name":"date","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":520,"wires":[]},{"id":"d2389b02.226998","type":"function","z":"3d7ce8de.33d248","name":"getDate","func":"var data = parseInt(msg.payload / 1000);\nmsg.payload = data\n\nflow.set('dateDebut', data);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["954b71b0.ec4c9"]]},{"id":"6665c842.c59d28","type":"debug","z":"3d7ce8de.33d248","name":"dateFin","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":620,"wires":[]},{"id":"21fa7d2c.2cee32","type":"change","z":"3d7ce8de.33d248","d":true,"name":"store value to flow context","rules":[{"t":"set","p":"dateToDisplay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":520,"wires":[[]]},{"id":"887887a0.45a9d8","type":"ui_date_picker","z":"3d7ce8de.33d248","name":"","label":"dateFin","group":"f0657f36.c54c9","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":300,"y":600,"wires":[["b5ebce39.1cd5"]]},{"id":"b5ebce39.1cd5","type":"function","z":"3d7ce8de.33d248","name":"getDate","func":"var data = parseInt(msg.payload / 1000);\nmsg.payload = data\n\nflow.set('dateFin', data);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":600,"wires":[["6665c842.c59d28"]]},{"id":"a94f8f2a.10614","type":"debug","z":"3d7ce8de.33d248","name":"pre","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.length","targetType":"msg","x":790,"y":240,"wires":[]},{"id":"7be31ccf.12c424","type":"debug","z":"3d7ce8de.33d248","name":"post","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":220,"wires":[]},{"id":"593f7917.cdc7f8","type":"ui_button","z":"3d7ce8de.33d248","name":"","group":"df4e57a5.ee3b48","order":3,"width":"0","height":"0","passthru":false,"label":"Déconnexion","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":20,"wires":[["d747e3eb.5fe6b"]]},{"id":"d747e3eb.5fe6b","type":"function","z":"3d7ce8de.33d248","name":"","func":"var msgC = {};\nmsgC.payload = {tab:\"Page de connexion\"};\n\nreturn msgC;\n","outputs":1,"noerr":0,"x":380,"y":20,"wires":[["86c60811.f6e5b8"]]},{"id":"86c60811.f6e5b8","type":"ui_ui_control","z":"3d7ce8de.33d248","name":"Accès aux infos","x":550,"y":20,"wires":[[]]},{"id":"6956c672.44b408","type":"ui_button","z":"3d7ce8de.33d248","name":"","group":"df4e57a5.ee3b48","order":3,"width":"0","height":"0","passthru":false,"label":"Affichage","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":60,"wires":[["4d8d1d44.edbcc4"]]},{"id":"4d8d1d44.edbcc4","type":"function","z":"3d7ce8de.33d248","name":"","func":"let msgH = {};\nmsgH.payload = {tab:\"Affichage\"};\n\nreturn msgH;\n","outputs":1,"noerr":0,"x":380,"y":60,"wires":[["f96f99bb.6f3248"]]},{"id":"f96f99bb.6f3248","type":"ui_ui_control","z":"3d7ce8de.33d248","name":"Accès aux infos","x":550,"y":60,"wires":[[]]},{"id":"78c0f598.cb955c","type":"ui_slider","z":"3d7ce8de.33d248","name":"","label":"","tooltip":"","group":"5f72456.b23f9bc","order":1,"width":4,"height":1,"passthru":false,"outs":"all","topic":"","min":"1","max":"60","step":1,"x":250,"y":720,"wires":[["10157324.64aa1d","28b85be6.102404"]]},{"id":"10157324.64aa1d","type":"change","z":"3d7ce8de.33d248","name":"store value to flow context","rules":[{"t":"set","p":"valFrequence","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":720,"wires":[[]]},{"id":"fd61dd2b.6b7e1","type":"ui_button","z":"3d7ce8de.33d248","name":"set frequency","group":"5f72456.b23f9bc","order":3,"width":0,"height":0,"passthru":false,"label":"set frequency","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":780,"wires":[["c7e17055.63704"]]},{"id":"c7e17055.63704","type":"change","z":"3d7ce8de.33d248","name":"set value to msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"valFrequence","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":780,"wires":[["571adadb.ddbac4"]]},{"id":"571adadb.ddbac4","type":"function","z":"3d7ce8de.33d248","name":"calcul","func":"msg.payload = msg.payload * 60;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":780,"wires":[["8d3e823b.fd833"]]},{"id":"8d3e823b.fd833","type":"mqtt out","z":"3d7ce8de.33d248","name":"frequence_nr","topic":"frequence_nr","qos":"","retain":"","broker":"2bb3877f.f09788","x":810,"y":780,"wires":[]},{"id":"28b85be6.102404","type":"ui_text","z":"3d7ce8de.33d248","group":"5f72456.b23f9bc","order":2,"width":2,"height":1,"name":"","label":"Min","format":"{{msg.payload}}","layout":"row-center","x":370,"y":680,"wires":[]},{"id":"1fb14b75.4fcf75","type":"function","z":"3d7ce8de.33d248","name":"min&max","func":"var long = msg.payload.length;\nvar begin = msg.payload[1].time;\nvar end = msg.payload[long-1].time;\n\nflow.set('Begin', begin);\nflow.set('End', end);\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[[]]},{"id":"653288a5.11d4d8","type":"debug","z":"3d7ce8de.33d248","name":"HEY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":540,"wires":[]},{"id":"4b02ce63.b75f","type":"ui_text","z":"3d7ce8de.33d248","group":"f0657f36.c54c9","order":2,"width":0,"height":0,"name":"","label":"DateDébutMin","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":580,"wires":[]},{"id":"3398c83c.1d9b18","type":"inject","z":"3d7ce8de.33d248","name":"","topic":"","payload":"Begin","payloadType":"flow","repeat":"3","crontab":"","once":true,"onceDelay":"1","x":750,"y":580,"wires":[["4c440c6a.7028d4"]]},{"id":"4c440c6a.7028d4","type":"function","z":"3d7ce8de.33d248","name":"","func":"var dt = new Date(msg.payload*1000);\n\nvar dtBegin = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn dtBegin;","outputs":1,"noerr":0,"x":890,"y":580,"wires":[["5ddabe44.aeb11"]]},{"id":"5ddabe44.aeb11","type":"function","z":"3d7ce8de.33d248","name":"","func":"msg.payload = msg.day + \"/\" + msg.month + \"/\" + msg.year;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":580,"wires":[["4b02ce63.b75f","653288a5.11d4d8"]]},{"id":"f1b923c0.5d794","type":"ui_text","z":"3d7ce8de.33d248","group":"f0657f36.c54c9","order":2,"width":0,"height":0,"name":"","label":"DateFinMax","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":620,"wires":[]},{"id":"2a9115e.930c8ea","type":"inject","z":"3d7ce8de.33d248","name":"","topic":"","payload":"End","payloadType":"flow","repeat":"3","crontab":"","once":true,"onceDelay":"1","x":740,"y":620,"wires":[["360e6f8b.063ac"]]},{"id":"360e6f8b.063ac","type":"function","z":"3d7ce8de.33d248","name":"","func":"var dt = new Date(msg.payload*1000);\n\nvar dtBegin = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn dtBegin;","outputs":1,"noerr":0,"x":890,"y":620,"wires":[["9e56b556.454cf8"]]},{"id":"9e56b556.454cf8","type":"function","z":"3d7ce8de.33d248","name":"","func":"msg.payload = msg.day + \"/\" + msg.month + \"/\" + msg.year;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":620,"wires":[["f1b923c0.5d794"]]},{"id":"3171172f.42c018","type":"function","z":"3d7ce8de.33d248","name":"calcul","func":"msg.payload = msg.payload / 60;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":860,"wires":[["3f5ac52b.0796fa"]]},{"id":"b7862bc1.4f1818","type":"mqtt in","z":"3d7ce8de.33d248","name":"","topic":"frequence_nr","qos":"2","datatype":"auto","broker":"2bb3877f.f09788","x":570,"y":860,"wires":[["3171172f.42c018"]]},{"id":"3f5ac52b.0796fa","type":"ui_text","z":"3d7ce8de.33d248","group":"5f72456.b23f9bc","order":3,"width":0,"height":0,"name":"","label":"Actual Frequency","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":860,"wires":[]},{"id":"631b6e8b.24ac9","type":"function","z":"286d2377.42efdc","name":"/ui","func":"if (msg.payload !== null){\n    msg.payload = msg.payload + \"/ui\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":240,"wires":[["e05e7fe5.c91fc"]]},{"id":"d350c433.01ece8","type":"debug","z":"286d2377.42efdc","name":"BATTERIE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":320,"wires":[]}]